<header>
    <ul style="list-style-type: none; margin: 0; padding: 0;">
        <li style="display: inline;">
            <a href="/">Home</a>
        </li>
        <li style="display: inline;">
            <a href="about">About</a>
        </li>
        <li style="display: inline;">
            <a href="portfolio">Portfolio</a>
        </li>
    </ul><br>
    <h2>{{currentPage}}</h2>
</header>